// colors

$primary: #d07a03;
$secondary: #240a1b;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: rgba(255, 255, 255, 0.9);
$dark: #343a40;

// My colors

$light2: rgba(255, 255, 255, 0.8);
$light3: rgba(255, 255, 255, 0.5);
$backgrnd-prmy-color: rgb(255, 206, 52, 0.5);
$backgrnd-2nd-color: #f5f4f5;
$text-prmy-color: #240a1b;
$text-2nd-color: #cfa12b;
$link-prmy-color: #240a1b;
$link-2nd-color: #fad456;
