// popup

.popup {
  display: none;
  width: 30%;
}

.popup-link:hover + .popup,
.popup:hover {
  display: block;
  position: relative;
  z-index: 100;
}

.popup-frame {
  width: 390px;
  height: 600px;
}
