// base info

body {
  //   margin: 0;
  //   padding: 0;
  //   box-sizing: border-box;
}

header {
  background-image: url(../images/helping.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

// a {
//   color: $link-prmy-color;
//   text-decoration: none;
// }

// label {
//   color: $text-prmy-color;
//   font-weight: 600;
// }

// a:hover {
//   color: $link-2nd-color;
// }
