// volunteer

.volunteer {
  background-image: url(../images/food-box.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 30px 10px 29px;
}

.volunteer-container {
  padding: 45px 8% 22px;
}

.volunteer-form {
  font-weight: 500;
}

.volunteer-header {
  margin-bottom: 25px;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.volunteer-background {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 8px 2%;
  border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
}
