// layout

.about {
  background-image: url(../images/helping.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 10px;
}

.about-header {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding-top: 0px;
}

.about-content {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 5px 10%;
  text-align: justify;
}
